.search-container {
  background-color: rgba(0, 0, 0, 0.877);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
  border-radius: 5px;
}
.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.shop-container {
  margin: 10px 15px;
  border-right: 1px solid gray;
}
